.dockerignore
__pycache__/
*.py[cod]
#Sensitive Data
/project_dir/sensitive.py
project_dir/sensitive.py

#notes
specifications.txt
# Django stuff
db.sqlite3

# Editor files
.vscode/
npm_modules/
frontend/node_modules
package-lock.json