@import "../style/_colors.scss";
@import "../style/_general.scss";

.dirTree{
    background-color: $darkestblack;
    height:100rem;
    display: flex nowrap;
    overflow-y: scroll;
    margin-left: auto;
    
    
}