@import "../style/general";
@import "../style/colors";

.sidebarNav{
    @include posNeomorphicDiv;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    position:fixed;
    top: 0rem;
    bottom: 0rem;
    z-index: 0;
    left: 0rem;
    
    
    
    
}
.navIcon{
    color: rgb(201, 201, 201);
    padding: 1rem;
}
.sidebarWrapper{
    display: flex;
    justify-content: left;

}
.tabList{
    list-style: none;
}
.tabPanel{
    margin-left: 0.4rem;
   
}
.innerTabPanelWrapper{
    margin-left: auto;
    background-color:red;
    padding: 1rem;
}
